*{
    box-sizing: inherit;
    margin: 0;
}

html{
    box-sizing: border-box;
}

/* Navbar */
.app{
    display: flex;
    justify-content: center;
}

.app__navbar{
    width: 90px;
    height: 870px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.app__navbar-list{
    width: 90px;
    height: 870px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-list-top{
    list-style: none;
    height: 445px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navbar-list-item{
    width: 57px;
    height: 57px;
    display: flex;
    justify-content: center;
}

.navbar-list-item-link{

}

.navbar-list-item-link-img{
    
}

.navbar-list-bottom{
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* page */
.app__page{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* page center */
.app__page-center{
    width: 910px;
    height: 870px;
    background-color: aqua;
    display: flex;
    justify-content: center;
}

.app__page-center-item{
    display: flex;
    width: 830px;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
}

.page-center-item-title{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.center-item-title-text{
    font-size: 26px;
    font-weight: 700;
    color: #171a1f;
}

.title-time-link{
    text-decoration: none;
}

.center-item-title-time{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80px;
    height: 38px;
    border: 1.5px solid #f22128;
    border-radius: 30px;
}

.title-time-container{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #f22128;
}

.title-time-text{
    color: #f22128;
    font-size: 16px;
    font-weight: 600;
}

/* Date time */

.page-center-item-datetime{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 32px;
    width: 100%;
}

.center-item-datetime-information{
    width: 360px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.datetime-information-internal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.information-internal-link{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90px;
    border-radius: 20px;
    height: 30px;
    background-color: #e34d73;
}

.internal-circle{
    width: 20px;
    height: 20px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.internal-link-icon{
    width: 10px;
    height: 12px;
    color: #e34d73;
    font-size: 12px;
}

.internal-link-text{
    color: aliceblue;
    font-size: 16px;
    font-weight: 500;
}

.datetime-information-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 110px;
    font-size: 16px;
    font-weight: 400;
}

.information-date-icon{
    color: #545962;
}

.information-date-text{
    color: #545962;
}

.datetime-information-time{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 140px;
    font-size: 16px;
    font-weight: 400;
    border-left: 1px solid #a4a7ab;
}

.information-time-text{
    color: #545962;
}


/* page right */
.app__page-right{
    width: 440px;
    height: 870px;
    background-color: blanchedalmond;
}
