*{
    box-sizing: inherit;
    margin: 0;
}

html{
    box-sizing: border-box;
}

/* Navbar */
.app{
    display: flex;
    justify-content: center;
}

.app__navbar{
    width: 90px;
    height: 870px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.app__navbar-list{
    width: 90px;
    height: 870px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-list-top{
    list-style: none;
    height: 445px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navbar-list-item{
    width: 57px;
    height: 57px;
    display: flex;
    justify-content: center;
}

.navbar-list-item-link{

}

.navbar-list-item-link-img{
    
}

.navbar-list-bottom{
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* page */
.app__page{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* page center */
.app__page-center{
    width: 910px;
    height: 870px;
    display: flex;
    justify-content: center;
}

.app__page-center-item{
    display: flex;
    width: 830px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.page-center-item-title{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.center-item-title-text{
    font-size: 26px;
    font-weight: 700;
    color: #171a1f;
}

.title-time-link{
    text-decoration: none;
}

.center-item-title-time{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80px;
    height: 38px;
    border: 1.5px solid #f22128;
    border-radius: 30px;
}

.title-time-container{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #f22128;
}

.title-time-text{
    color: #f22128;
    font-size: 16px;
    font-weight: 600;
}

/* Date time */

.page-center-item-datetime{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 32px;
    width: 100%;
}

.center-item-datetime-information{
    width: 360px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.datetime-information-internal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.information-internal-link{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90px;
    border-radius: 20px;
    height: 30px;
    background-color: #e34d73;
}

.internal-circle{
    width: 20px;
    height: 20px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.internal-link-icon{
    width: 10px;
    height: 12px;
    color: #e34d73;
    font-size: 12px;
}

.internal-link-text{
    color: aliceblue;
    font-size: 16px;
    font-weight: 500;
}

.datetime-information-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 110px;
    font-size: 16px;
    font-weight: 400;
}

.information-date-icon{
    color: #545962;
}

.information-date-text{
    color: #545962;
}

.datetime-information-time{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 140px;
    font-size: 16px;
    font-weight: 400;
    border-left: 1px solid #a4a7ab;
}

.information-time-text{
    color: #545962;
}


/* selected */
.page-center-item-selected{
    position: relative;
}

.center-item-selected-picture{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.center-item-selected-name{
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #747577;
    border-radius: 5px;
    position: absolute;
    left: 25px;
    top: 10px;
}

.selected-name-circle{
    height: 9px;
    width: 9px;
    background-color: #1dd75b;
    border-radius: 50%;
}

.selected-name-text{
    font-size: 16px;
    font-weight: 500;
    color: rgb(207, 208, 210);
}

.center-item-selected-micro{
    position: absolute;
    right: 25px;
    top: 10px;
}

/* menu select */
.page-center-item-menuselect{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuselect-item{
    position: relative;
    width: 260px;
    height: 160px;
    
}

.menuselect-item-image{
    width: 260px;
    height: 160px;
    border-radius: 8px;
}

.menuselect-item-name{
    position: absolute;
    left: 10px;
    top: 10px;
    display: flex;
    height: 30px;
    width: 120px;
    justify-content: space-around;
    align-items: center;
    background-color: #5e6368;
    border-radius: 5px;
}

.menuselect-item-name-text{
    font-size: 14px;
    font-weight: 500;
    color: rgb(207, 208, 210);
    width: 90px;
}

.div-mic{
    width: 30px;
    height: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
    top: 10px;
    background-color: #5e6368;
    border-radius: 3px;
}

.menuselect-item-mic{
    width: 20px;
    height: 20px;
    color: aliceblue;
    font-size: 16px;
    align-items: center;
}

 /* w500 h45 listoption */
 .page-center-item-listoption{
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 .center-item-listoption-image{
    width: 45px;
    height: 45px;
 }

 .center-item-listoption-endmeeting{
    width: 125px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f22128;
    border-radius: 4px;
 }

 .listoption-endmeeting-text{
    font-size: 16px;
    font-weight: 700;
    color: aliceblue;
 }


/* page right */
.app__page-right{
    width: 440px;
    height: 870px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.page-right-top{
    height: 300px;
    width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.page-right-top-title{
    height: 70px;
    width: 390px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-top-title-text{
    width: 160px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-title-text-p{
    font-size: 24px;
    font-weight: 700;
}

.top-title-text-container{
    width: 26px;
    height: 26px;
    background-color: #fdf2f4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #e34d73;
}

.page-right-top-title-button{
    width: 75px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e34d73;
    border: 1.5px solid #e34d73;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

.page-right-top-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    width: 390px;
}

.right-top-list-item{
    display: flex;
    width: 100%;
    height: 54px;
    justify-content: space-between;
    align-items: center;
}

.list-item-name{
    display: flex;
    align-items: center;
}

.top-list-item-img{
    margin-right: 8px;
}

.top-list-item-text{
    font-size: 16px;
    font-weight: 500;
}

.list-item-option{
    display: flex;
    width: 75px;
    justify-content: space-between;

}

.item-option-img{

}

.item-optionsend{
    height: 25px;
    align-items: center;
    font-weight: 700;
    color: #747577;
}


/* bottom */
.page-right-bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 390px;
    height: 515px;
}

.page-right-bottom-title{
    font-size: 26px;
    font-weight: 800;
}

.page-right-bottom-list{
    height: 445px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.page-right-bottom-list-item{
    display: flex;
    width: 100%;
    height: 105px
}

.bottom-list-item-link{
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-right: 10px;
}

.bottom-list-item-link-avatar{
    width: 40px;
    height: 40px;
}

.bottom-list-item-text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.bottom-list-item--text-name{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}

.item-text-name-title{
    font-size: 18px;
    font-weight: 900;
    margin-right: 15px;
}

.item-text-name-time{
    font-size: 16px;
    color: #bec1c8;
}

.bottom-list-item-message{
    width: 100%;
    height: 70px;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.message{
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
}

.message-icon{
    color: #f22128;
    font-size: 20px;
}

.item-input{
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
}


.item-input-title{
    display: flex;
    width: 100%;
    align-items: center;
    z-index: 1;
    top: 10%;
}

.bottom-list-item-input{
    display: flex;
    width: 390px;
    height: 55px;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}



.input-container{
    width: 330px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #f8f9fa;
    border-radius: 5px;
    align-items: center;
}

.list-item-input-text{
    border: none;
    margin-left: 10px;
    background-color: #f8f9fa;
}

.list-item-input-icon{
    font-size: 24px;
    margin-right: 10px;
}

.right-icon{
    color: #e34d73;
    font-size: 24px;
    font-weight: 700;
    width: 20px;
    height: 20px;
}
